</main>
<footer class="sticky top-[100vh] text-center bg-gray-900 text-white">
    <div class="text-center p-14" style="background-color: rgba(0, 0, 0, 0.2);">
        Made By
        <a class="text-white" href="https://github.com/S4nfs">SV with NodeJs, Tailwind, Fast-Csv and Express </a>
    </div>
</footer>
</body>

</html>